.gradle
.kotlin
/local.properties
/acra.properties
/.idea/workspace.xml
.DS_Store
.idea/*
!.idea/icon.png
*iml
*.iml
app/**/assets/client_secrets.json

# Built files
*/build
/build
*.apk
app/**/output.json

# Unnecessary file
*.swp